/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Products Section */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 products per row on desktop */
    gap: 10px;
    padding: 80px;
    font-family: poppins;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;

    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Position relative for absolute button positioning */
    transition: transform 0.3s ease;
}

.product-card:hover {

}

.product-card img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.product-card h2 {
    padding: 10px;
    font-size: 1.5em;
    margin: 15px 0;
    line-height: 1.2;
}

.product-card .price {
    padding: 2px;
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.product-card .description {
    font-size: 1em;
    padding: 10px;
    color: #777;
    margin: 10px 0;
}

/* Product Actions (Icon Buttons) */
.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.icon-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.icon-button i {
    font-size: 18px;
}

.icon-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}




/* Responsive Design */
@media (max-width: 768px) {
    .products {
        padding: 20px;
        grid-template-columns: repeat(2, 1fr); /* 2 products per row on mobile */
    }
}

@media (max-width: 485px) {
    /* Hide the default action buttons */
    .product-actions {
        display: none;
    }

    /* Add a single action button at the bottom right */
    .product-card {
        padding-bottom: 50px; /* Add space at the bottom for the button */
    }

    .single-action-button {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 1.2em;
        border-radius: 50%;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .single-action-button:hover {
        background-color: #45a049;
        transform: scale(1.1);
    }

    .single-action-button i {
        font-size: 18px;
    }
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
